.form_background {
    background-color: rgba(31, 26, 26, 0.653);
    position: fixed;
    top: 0;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transform: scale(0);
    transition: transform .25s;
}
.form_background.able {
    transform: scale(1);
    transition: transform .25s;
}
.form_container {
    height: 350px;
    background-color: rgb(74, 119, 122);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
.form_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}
.form_close:hover {
    color: black;
    cursor: pointer;
}
.form_title {
    text-align: center;
}
.form_item {
    width: 100%;
    display: flex;
    flex-direction: column;
}
