body {
  background-color: rgba(0, 0, 0, 0.785);
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.user_buttom {
  border-radius: 5px;
  width: 120px;
  height: fit-content;
  position: relative;
  color: rgb(17, 70, 52);
}